.header {
  background: rgb(42, 42, 43);
  font-style: italic;
}
.heading {
  color: rgb(183, 201, 201);
  text-align: center;
  font-size: 30;
}
#dropdown {
  color: rgb(255, 255, 255);
  font-size: 20px;
  display:flex; 
  flex-direction: row; 
  justify-content: center;
  text-align: center;
}
.dropdown1 {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  width: 120px;
  border: 1px;
  padding: 1px;
  margin: 1px;

}
.dropdown2 {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  width: 120px;
  border: 1px;
  padding: 1px;
  margin: 1px;

}
.dropdown3 {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  width: 120px;
  border: 1px;
  padding: 1px;
  margin: 1px;

}
.dropdown4 {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  width: 120px;
  border: 1px;
  padding: 1px;
  margin: 1px;

}
.dropdown5 {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  width: 120px;
  border: 1px;
  padding: 1px;
  margin: 1px;

}
.dropdown6 {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  width: 120px;
  border: 1px;
  padding: 1px;
  margin: 1px;

}
.dropdown7 {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  width: 120px;
  border: 1px;
  padding: 1px;
  margin: 1px;

}
#Phim{
  background-color: rgb(104, 104, 158);
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}
.phim1{
  background-color: rgb(45, 39, 51);
  font-family: cursive;;
  width: 150px;
  border: blue 1px;
  padding: 100px;
  margin: 1px;
  text-align: center;
}
.phim2{
  background-color: rgb(45, 39, 51);
  font-family: cursive;
  width: 150px;
  border: blue 1px;
  padding: 100px;
  margin: 1px;


}
.phim3{
  background-color: rgb(45, 39, 51);
  font-family: cursive;
  width: 150px;
  border: blue 1px;
  padding: 100px;
  margin: 1px;
}
.phim4{
  background-color: rgb(45, 39, 51);
  font-family: cursive;
  width: 150px;
  border: blue 1px;
  padding: 100px;
  margin: 1px;
}

.Image1{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.center{
  display: block;
  margin: 0 auto;
}








